.container {
  padding: 0 2rem;
}




.category_name,
.food_name,
.food_price{

  padding: 10px;
  border-radius: 3px;
}

.category_name{
    background-color: rgb(38, 38, 139);
  color: white;
}

.food_name,
.food_price{
  border: 1px solid black;
  align-items: center;
  text-align: center;
}

.list{
  display: grid;
  grid-template-columns: 10% 1fr 15%;
  grid-gap: 16px;
  margin-bottom: 10px;
  
}

.food_image{
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .list{
    grid-template-columns: 15% 1fr 20%;
  }
}
@media only screen and (max-width: 480px) {
  .list{
    grid-template-columns: 25% 1fr 30%;
  }
}